/*
Write custom rules here ONLY!
*/
/*
ONLY variables, no code here! 
*/
/*Bootstrap variables*/
/*Custom variables*/
/*
ONLY mixins, no code here! 
*/
/*
ONLY variables, no code here! 
*/
/*Bootstrap variables*/
/*Custom variables*/
/*
Mixin for vendor-prefixes.
Example: @include prefix((transform: translateY(-50%)));
*/
/*
Mixin for background-size cover.
Example: @include background-size-cover;
*/
/*mixin for calc
Example: @include calc(height, 50% - 10px);
*/
/*mixin for flex-centering
Example: @include flex-centering;
*/
html, body {
  width: 100%;
  height: 100%; }

main {
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 50% 15%;
  background-image: url(../img/bg-xs.jpg); }
  @media (min-width: 768px) {
    main {
      background-image: url(../img/bg-sm.jpg); } }
  @media (min-width: 992px) {
    main {
      background-position: 50% 0;
      background-image: url(../img/bg-md.jpg); } }
  @media (min-width: 1200px) {
    main {
      background-image: url(../img/bg-lg.jpg); } }

#logo {
  display: inline-block;
  margin-top: 15px; }

#main-title {
  text-shadow: 0px 0px 30px black, 0px 0px 15px black;
  color: #FFF;
  font-family: "Big Noodle Titling", "Helvetica Neue", Helvetica, Arial sans-serif;
  font-style: italic;
  font-size: 15vw;
  text-align: center; }
  @media (min-width: 480px) {
    #main-title {
      font-size: 10vw; } }
  @media (min-width: 992px) {
    #main-title {
      font-size: 4vw; } }
  @media (min-width: 992px) {
    #main-title > br {
      display: none; } }

#main-subtitle {
  text-align: center; }
  #main-subtitle h2 {
    text-shadow: 0px 0px 30px black, 0px 0px 15px black;
    color: #FFF;
    font-family: Cabin, "Helvetica Neue", Helvetica, Arial sans-serif;
    font-size: 6vw;
    margin-top: 0; }
    @media (min-width: 480px) {
      #main-subtitle h2 {
        font-size: 4vw; } }
    @media (min-width: 992px) {
      #main-subtitle h2 {
        font-size: 2vw; } }
    #main-subtitle h2 > span {
      display: inline-block;
      margin-bottom: 10px;
      position: relative; }
      #main-subtitle h2 > span:nth-of-type(1) {
        left: -15px; }
      #main-subtitle h2 > span:nth-of-type(2) {
        right: -15px; }
        @media (min-width: 992px) {
          #main-subtitle h2 > span:nth-of-type(2) {
            right: -50px; } }

#form-wrapper {
  text-align: center;
  margin-top: 20vw; }
  @media (min-width: 992px) {
    #form-wrapper {
      margin-top: 0; } }
  #form-wrapper h3 {
    text-shadow: 0px 0px 30px black, 0px 0px 15px black;
    color: #FFF;
    font-family: "Big Noodle Titling", "Helvetica Neue", Helvetica, Arial sans-serif;
    font-style: italic;
    font-size: 6vw;
    margin-top: 0; }
    @media (min-width: 480px) {
      #form-wrapper h3 {
        font-size: 4vw; } }
    @media (min-width: 992px) {
      #form-wrapper h3 {
        font-size: 2vw; } }
    @media (min-width: 1200px) {
      #form-wrapper h3 {
        font-size: 1.75vw; } }
    #form-wrapper h3 > span {
      color: #69C60F;
      font-size: 110%; }
  #form-wrapper form .form-control {
    border-color: #fff;
    border-radius: 0;
    height: 50px;
    padding-left: 9px;
    padding-right: 9px; }
    @media (min-width: 992px) {
      #form-wrapper form .form-control {
        border-color: #000;
        background-color: #000;
        color: #FFF; } }
    #form-wrapper form .form-control:focus {
      -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(105, 198, 15, 0.6);
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(105, 198, 15, 0.6);
      border-color: #69C60F; }

.btn-submit {
  box-shadow: inset 0 0 35px #9cf14a, inset 0 0 5px #b6f579;
  background-color: #3e7509;
  border: 1px solid #c3f791;
  font-family: "Big Noodle Titling", "Helvetica Neue", Helvetica, Arial sans-serif;
  font-size: 36px;
  font-style: italic;
  color: #FFF;
  height: 60px;
  border-radius: 0;
  padding: 3px;
  position: relative; }
  .btn-submit:after {
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    content: "";
    display: inline-block;
    position: absolute;
    background-image: url(../img/right-arrow-mobile.png);
    top: 15px;
    width: 25px;
    height: 28px; }
    @media (min-width: 992px) {
      .btn-submit:after {
        background-image: url(../img/right-arrow-desktop.png);
        width: 30px; } }
  .btn-submit:hover, .btn-submit:focus {
    box-shadow: inset 0 0 35px #8fef32, inset 0 0 5px #a9f361;
    background-color: #4b8d0b;
    color: #FFF; }
  .btn-submit > span {
    display: inline-block;
    margin-right: 10px;
    margin-left: -20px; }

#submit-wrapper {
  positon: relative; }
  #submit-wrapper:before {
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: inline-block;
    position: absolute;
    background-image: url(../img/right-arrow-submit.png);
    left: -105px;
    bottom: 3px;
    width: 127px;
    height: 116px; }
    @media (min-width: 992px) {
      #submit-wrapper:before {
        content: ""; } }

#code {
  width: 20%; }

#phone {
  width: -webkit-calc(80% - 10px);
  width: calc(80% - 10px); }

.items-row {
  padding-top: 50px; }

.column-item-wrapper {
  margin-bottom: 50px;
  border: 5px solid #d81604;
  border-radius: 20px;
  padding: 0;
  position: relative;
  overflow: hidden;
  text-align: center; }
  .column-item-wrapper .column-item:before {
    background-size: 75%;
    background-repeat: no-repeat;
    content: "";
    position: absolute;
    background-image: url(../img/transparent-triangle.png);
    width: 100%;
    height: 100%;
    left: 0; }
  .column-item-wrapper .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    resize: both;
    color: #000;
    font-family: "Big Noodle Titling", "Helvetica Neue", Helvetica, Arial sans-serif;
    padding: 10px;
    font-size: 30px;
    line-height: 1;
    background-color: #eabf21;
    margin: 0;
    min-height: 80px; }
    .column-item-wrapper .header > span {
      position: relative; }
  .column-item-wrapper .body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    resize: both;
    padding: 10px;
    color: #FFF;
    min-height: 130px; }
  .column-item-wrapper .footer {
    min-height: 65px;
    position: relative; }
    .column-item-wrapper .footer > img {
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      transform: translateX(-50%);
      margin-bottom: 10px;
      position: absolute;
      left: 50%;
      bottom: 0; }

#bottom-submit {
  float: none;
  margin-bottom: 50px; }
  @media (min-width: 992px) {
    #bottom-submit {
      display: inline-block; } }

footer .footer-items {
  margin-bottom: 40px;
  text-align: center; }
  footer .footer-items a {
    margin-right: 10px;
    margin-bottom: 10px;
    display: inline-block; }
    footer .footer-items a:hover > img, footer .footer-items a:focus > img {
      opacity: 0.8; }
footer .footer-info {
  margin-bottom: 25px;
  color: #898989;
  text-align: justify; }

/*# sourceMappingURL=custom.css.map */
