/*
Write custom rules here ONLY!
*/

@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_mixins.scss";
@import "variables.scss";
@import "mixins.scss";



html, body {
    width: 100%;
    height: 100%;
}

main {
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 50% 10%;
    background-image: url(../img/bg-xs.jpg);

    @media (min-width: $screen-sm-min) {
        background-image: url(../img/bg-sm.jpg);
    }

    @media (min-width: $screen-md-min) {
        background-position: 50% 0;
        background-image: url(../img/bg-md.jpg);
    }

    @media (min-width: $screen-lg-min) {
        background-image: url(../img/bg-lg.jpg);
    }
}

#logo {
    display: inline-block;
    margin-top: 15px;
}

#main-title {
    text-shadow: 0px 0px 30px rgba($body-bg, 1), 0px 0px 15px rgba($body-bg, 1);
    color: $title-color;
    font-family: $title-font-family;
    font-style: italic;
    font-size: 15vw;
    text-align: center;

    @media (min-width: $screen-xs-min) {
        font-size: 10vw;
    }

    @media (min-width: $screen-md-min) {
        font-size: 4vw;
    }

    > br {
        @media (min-width: $screen-md-min) {
            display: none;
        }
    }
}

#main-subtitle {
    text-align: center;

    h2 {
        text-shadow: 0px 0px 30px rgba($body-bg, 1), 0px 0px 15px rgba($body-bg, 1);
        color: $title-color;
        font-family: $subtitle-font-family;
        font-size: 6vw;
        margin-top: 0;

        @media (min-width: $screen-xs-min) {
            font-size: 4vw;
        }

        @media (min-width: $screen-md-min) {
            font-size: 2vw;
        }

        > span {
            display: inline-block;
            margin-bottom: 10px;
            position: relative;

            &:nth-of-type(1) {
                left: -15px;
            }

            &:nth-of-type(2) {
                right: -15px;

                @media (min-width: $screen-md-min) {
                    right: -50px;
                }
            }
        }
    }
}

#form-wrapper {
    text-align: center;

    h3 {
        text-shadow: 0px 0px 30px rgba($body-bg, 1), 0px 0px 15px rgba($body-bg, 1);
        color: $title-color;
        font-family: $title-font-family;
        font-style: italic;
        font-size: 6vw;
        margin-top: 0;

        @media (min-width: $screen-xs-min) {
            font-size: 4vw;
        }

        @media (min-width: $screen-md-min) {
            font-size: 2vw;
        }

        @media (min-width: $screen-lg-min) {
            font-size: 1.75vw;
        }

        > span {
            color: $accent-color;
            font-size: 110%;
        }
    }

    form {
        .form-control {
            border-color: $input-bg;
            border-radius: 0;
            height: 50px;
            padding-left: 9px;
            padding-right: 9px;

            @media (min-width: $screen-md-min) {
                border-color: $body-bg;
                background-color: $body-bg;
                color: $title-color;
            }

            &:focus {
                @include box-shadow(inset 0 1px 1px rgba(black, 0.075), 0 0 8px rgba($accent-color, 0.6));
                border-color: $accent-color;
            }
        }

        [type="submit"] {
            box-shadow: inset 0 0 35px lighten($accent-color, 20), inset 0 0 5px lighten($accent-color, 30);
            background-color: darken($accent-color, 17);
            border: 1px solid lighten($accent-color, 35);
            font-family: $title-font-family;
            font-size: 36px;
            font-style: italic;
            color: #FFF;
            height: 60px;
            width: 100%;
            border-radius: 0;
            padding: 3px;
            position: relative;

            &:after {
                @include background-size-cover;
                content: "";
                display: inline-block;
                position: absolute;
                background-image: url(../img/right-arrow-mobile.png);
                top: 15px;
                width: 25px;
                height: 28px;

                @media (min-width: $screen-md-min) {
                    background-image: url(../img/right-arrow-desktop.png);
                    width: 30px;
                }
            }

            &:hover, &:focus {
                box-shadow: inset 0 0 35px lighten($accent-color, 15), inset 0 0 5px lighten($accent-color, 25);
                background-color: darken($accent-color, 12);
            }

            > span {
                display: inline-block;
                margin-right: 10px;
                margin-left: -20px;
            }
        }
    }
}

#submit-wrapper {
    positon: relative;

    &:before {
        @include background-size-cover;
        display: inline-block;
        position: absolute;
        background-image: url(../img/right-arrow-submit.png);
        left: -105px;
        bottom: 3px;
        width: 127px;
        height: 116px;

        @media (min-width: $screen-md-min) {
            content: "";
        }
    }
}

#code {
    width: 20%;
}

#phone {
    @include calc(width, 80% - #{$form-group-margin-bottom});
}

.items-row {
    padding-top: $grid-gutter-width;
}

.column-item-wrapper {
    margin-bottom: $grid-gutter-width;
    border: 5px solid #d81604;
    border-radius: 20px;
    padding: 0;
    position: relative;
    overflow: hidden;
    text-align: center;

    .column-item {
        &:before {
            background-size: 75%;
            background-repeat: no-repeat;
            content: "";
            position: absolute;
            background-image: url(../img/transparent-triangle.png);
            width: 100%;
            height: 100%;
            left: 0;
        }
    }

    .header {
        @include flex-centering;
        color: $body-bg;
        font-family: $title-font-family;
        padding: $default-padding;
        font-size: 30px;
        line-height: 1;
        background-color: #eabf21;
        margin: 0;
        min-height: 80px;

        > span {
            position: relative;
        }
    }

    .body {
        @include flex-centering;
        padding: $default-padding;
        color: #FFF;
        min-height: 130px;
    }

    .footer {
        min-height: 65px;
        position: relative;

        > img {
            @include prefix((transform: translateX(-50%)));
            margin-bottom: $default-padding;
            position: absolute;
            left: 50%;
            bottom: 0;
        }
    }
}