@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss";

/*
ONLY variables, no code here! 
*/

/*Bootstrap variables*/
$font-family-sans-serif:    "Open Sans", "Helvetica Neue", Helvetica, Arial sans-serif;
$font-family-base:          $font-family-sans-serif;
$icon-font-path:            "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";
$body-bg:                   #000;
$grid-gutter-width:         50px;
$form-group-margin-bottom:  10px;



/*Custom variables*/
$title-color:               #FFF;
$accent-color:              #69C60F;
$title-font-family:         "Big Noodle Titling", "Helvetica Neue", Helvetica, Arial sans-serif;
$subtitle-font-family:      Cabin, "Helvetica Neue", Helvetica, Arial sans-serif;