/* BEGIN Bold */
@font-face {
    font-family: Cabin;
    src: url("./fonts/Bold/Cabin-Bold-TTF.ttf") format("truetype");
    font-weight: bold;
    font-style: normal; }
/* END Bold */
/* BEGIN BoldItalic */
@font-face {
    font-family: Cabin;
    src: url("./fonts/Bold/Cabin-BoldItalic-TTF.ttf") format("truetype");
    font-weight: bold;
    font-style: italic; }
/* END BoldItalic */
/* BEGIN Italic */
@font-face {
    font-family: Cabin;
    src: url("./fonts/Bold/Cabin-Italic-TTF.ttf") format("truetype");
    font-weight: normal;
    font-style: italic; }
/* END Italic */
/* BEGIN MediumItalic */
@font-face {
    font-family: Cabin;
    src: url("./fonts/Bold/Cabin-MediumItalic-TTF.ttf") format("truetype");
    font-weight: normal;
    font-style: italic; }
/* END MediumItalic */
/* BEGIN SemiBoldItalic */
@font-face {
    font-family: Cabin;
    src: url("./fonts/Bold/Cabin-SemiBoldItalic-TTF.ttf") format("truetype");
    font-weight: 600;
    font-style: italic; }
/* END SemiBoldItalic */